.wrapper {
  //   display: flex;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100%;
}

.notificationCards {
  overflow-y: scroll;
  border-right: 0.1rem solid #eee;
  overflow-x: hidden;
}

.messageContent {
  flex-grow: 1;
  padding: 2rem;
}
