.wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  padding: 2rem;
  height: 7rem;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
